{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
    <h1> </h1>

    <br>
    <h2>  </h2>
    <p>  </p>
    <hr>
    <h2> </h2>
    <div id = "detail">
		<h1 style="color:black; margin-bottom : 10"> {{ movie.title}} </h1>
		<h1 style = "font-size : 200%">{{movie.year}}</h1>
		<br>
		<img src = "{{ movie.poster}}" style='height:50%' class='img-responsive img-thumbnail' ></img>

		<h1 style = "font-size : 200%">Detail</h1>
		<table style="width:100%">
		  <tr>
			<td><b>Rated</b></td>
			<td>{{movie.rated}}</td>
		  </tr>
		  <tr>
			<td><b>Released Date</b></td>
			<td>{{movie.released}}</td>
		  </tr>
		  <tr>
			<td><b>Duration</b></td>
			<td>{{movie.runtime}}</td>
		  </tr>
		  <tr>
			<td><b>Genre</b></td>
			<td>{{movie.genre}}</td>
		  </tr>
		  <tr>
			<td><b>Director</b></td>
			<td>{{movie.director}}</td>
		  </tr>
		  <tr>
			<td><b>Writer</b></td>
			<td>{{movie.writer}}</td>
		  </tr>
		  <tr>
			<td><b>Actors</b></td>
			<td>{{movie.actors}}</td>
		  </tr>
		  <tr>
			<td><b>Language</b></td>
			<td>{{movie.language}}</td>
		  </tr>
		  <tr>
			<td><b>Country</b></td>
			<td>{{movie.country}}</td>
		  </tr>
		  <tr>

		</table>

	</div>

    <br>
    <div class="box">
        {% if added %}
        <button class="btn btn-success"> Added to Watch Later </button>
        {% else %}
        <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
        {% endif%}
    </div>

</div>
{% endblock %}
