{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head> 
	<title>
		Lab 8 by {{author}}
	</title>
</head>

<style> 
	#lab8{
		background-color: pink;
		margin: auto;
	}
	.feed{
		border-style : solid;
		background-color : red;
		border-color : red;
		margin-top: 20px;
		margin-bottom: 20px;
	}

</style>
<body> 
	<div id="lab8", background-color = "pink" align = "center">
	
	<script type="text/Javascript" src="{% static 'js/lab_8.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>